@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&family=Roboto+Condensed:wght@300&family=Source+Sans+Pro:wght@300&display=swap');

*{
    text-decoration: none;
    margin: 0;
    padding: 0;
    border: none;
    
}
body{
	font-family: 'Open Sans', sans-serif;
	color:#000;
}
h1{
    font-family: 'Open Sans', sans-serif;
    letter-spacing: 3px;
    text-transform: uppercase;
    color: #000;
}

#logo{
    font-family: 'Open Sans', sans-serif;
    float: left;
    margin-left: 40px;
    font-size: 280%;
    text-transform: uppercase;
}
#menu{
    float:right;
    font-size: 100%;
}
#menu li{
float: right;
margin-right: 35px;
letter-spacing: 3px;
list-style-type: none;
}
#menu a{
    text-decoration: none;
    color: #000;
}
#menu, #logo{
    line-height: 80px;
  }
  #menu a:hover{
      border-bottom: 1px solid;
  }

  #hero-image{
     height:400px;
     width: 100%;
     
 }
 /* mission */
 #mission{
     height: 400px;
     background-color: #F6F5F;
 }
 .our-mission{
    padding: 30px 80px 40px 80px;
    margin: 0 70px 0 70px;
    line-height: 30px;
    }
    h2{
        text-transform: uppercase;
        letter-spacing: 3px;
        color: #333;
        text-decoration: none;
          text-align: center;
      }
      p{
       
        font-family: 'Open Sans', sans-serif;
        font-size: 15px;
        line-height: 30px;
        font-weight: ;
        }
