@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&family=Roboto+Condensed:wght@300&family=Source+Sans+Pro:wght@300&display=swap');

*{
    text-decoration: none;
    margin: 0;
    padding: 0;
    border: none;
    
}
body{
	font-family: 'Open Sans', sans-serif;
	color:#000;
}
h1{
    font-family: 'Open Sans', sans-serif;
    letter-spacing: 3px;
    text-transform: uppercase;
    color: #000;
}

#logo{
    font-family: 'Open Sans', sans-serif;
    float: left;
    margin-left: 40px;
    font-size: 280%;
    text-transform: uppercase;
}
#menu{
    /* float:right; */
    font-size: 100%;
}
#menu li{
float: right;
margin-right: 35px;
letter-spacing: 3px;
list-style-type: none;
}
#menu a{
    text-decoration: none;
    color: #000;
}
#menu, #logo{
    line-height: 100px;
  }
  #menu a:hover{
      border-bottom: 1px solid;
  }
  #hero-container{
      clear: both;
  }
  
  
   #hero-image{
    
     height: 400px;
    width: 100%;
      
 }


 /* mission */
 #mission{
     height: 400px;
     background-color: #F6F5F;
 }
 .our-mission{
    padding: 30px 80px 40px 80px;
    margin: 0 70px 0 70px;
    line-height: 30px;
    }
    h2{
        text-transform: uppercase;
        letter-spacing: 3px;
        color: #333;
        text-decoration: none;
          text-align: center;
      }
      p{
        font-family: 'Open Sans', sans-serif;
        font-size: 15px;
        line-height: 30px;
        }
        .our-mission p{
            margin-top: 30px;
        }

        /* footer */
        footer{
            background-color: #F1F1F1
        }
        .container  {
            height: 300px;
            text-align: center;
            
        
        
        }
        .container ul{
            list-style-type: none;
            display: inline-block;
            line-height: 30px;
            margin-top: 30px;;
            padding: 0 90px 0 90px;
            font-size: 15px;
        
        }
        .contact-us {
            text-align: left;
        
        }
        
        .opening-hours {
            text-align: center;
        
        }
        
        .social-media-icon {
            text-align: right;
        
        }
        

        /* programs */
      
        #programs {
            height: 1400px;
            clear: both;
            background-color: #D8E3E7;
          }
          #programs h2{
              padding-bottom: 20px;
          }
          .programs-header{
              padding: 10px 90px 40px 0;
              text-align: center;
          }
          
          .program-one, .program-two, .program-three {
            height: 400px;
            padding-top: 20px;
            /* line-height: 30px; */
          }
          
          .feature-one, .feature-three, .feature-two-content {
            float: left;
            width: 40%;
            margin-left: 50px;
          }
          
          .feature-one-content, .feature-three-content, .feature-two {
            float: right;
            width: 40%;
            margin-right: 80px;
            padding-left: 30px;
            
          }