@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&family=Roboto+Condensed:wght@300&family=Source+Sans+Pro:wght@300&display=swap');

/*snippet from love running */
* {
  text-decoration: none;
  margin: 0;
  padding: 0;
  border: none;
}

body {
  font-family: 'Open Sans', sans-serif;
  color: #000;
}

#logo {
  font-family: 'Lato', sans-serif;
  letter-spacing: 3px;
  float: left;
  margin-left: 40px;
  font-size: 250%;
  text-transform: uppercase;
  color: #000;
}

#menu li {
  font-family: 'Lato', sans-serif;
  float: right;
  margin-right: 35px;
  letter-spacing: 3px;
  list-style-type: none;
  font-size: 100%;
  text-transform: uppercase;
  font-weight: bold;
}

#menu a {
  text-decoration: none;
  color: #000;
}

#menu,
#logo {
  line-height: 100px;
}

#menu a:hover {
  border-bottom: 1px solid #D8E3E7;
}

#hero-container {
  clear: both;
  width: 100%;
  overflow: hidden;
}

#hero-image {
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  height: 50%;
}

#mission {
  height: 300px;
  margin-top: 70px;
  margin-bottom: 70px;
}

.our-mission {
  width: 60%;
  border: 2px solid #D8E3E7;
  text-align: center;
  margin: 0 auto;
  padding: 20px;
}

h2 {
  font-family: 'Open Sans', sans-serif;
  text-transform: uppercase;
  letter-spacing: 3px;
  color: #000;
  text-decoration: none;
  text-align: center;
  font-weight: 500;
}

p {
  font-family: 'Open Sans', sans-serif;
  font-size: 15px;
  line-height: 30px;
}

.our-mission p {
  margin-top: 30px;
}

#programs {
  height: 1200px;
  clear: both;
  line-height: 50px;
  background-color: #D8E3E7;
}

#programs h2 {
  padding-bottom: 20px;
}

.programs-header {
  padding: 10px 90px 40px 0;
  text-align: center;
  animation-name: none;
}

.program-one,
.program-two,
.program-three {
  height: 350px;
  padding-top: 20px;
}

.feature-one,
.feature-three,
.feature-two-content {
  float: left;
  width: 40%;
  margin-left: 80px;
}

.feature-one-content,
.feature-three-content,
.feature-two {
  float: right;
  width: 40%;
  margin-right: 83px;
  padding-left: 30px;

}

#hero-image,
.feature-one,
.feature-two,
.feature-three,
.about-image,
.form-image {
  animation-name: all_image-zoom;
  animation-duration: 2s;
  animation-direction: alternate;
  animation-iteration-count: 2;
}

@keyframes all_image-zoom {
  from {
    transform: scale(1);
  }

  to {
    transform: scale(1.1);
  }
}

#about {
  height: 500px;
  min-height: calc(106vh - 406px);
  clear: both;
  line-height: 50px;
  padding-top: 30px;
  background-color: #D8E3E7;
  padding-bottom: 76px;
  overflow: hidden;
}

.about-image {
  float: left;
  width: 45%;
  margin-left: 50px;
}

.about-content {
  float: right;
  width: 35%;
  margin-right: 146px;
}


#form-section {
  height: 600px;
  min-height: calc(110vh - 329px);
  padding-top: 10px;
  clear: both;
  background-color: #D8E3E7;
  overflow: hidden;
}

.form-image {
  width: 40%;
  float: right;
  margin-right: 68px;
  margin-top: 40px;
}

.contact-form {
  float: left;
  color: #000;
  width: 35%;
  margin-left: 60px;
  display: block;
  padding: 35px;
  text-align: center;
}

.contact-form h2 {
  padding-bottom: 20px;
}

.input-text {
  background-color: transparent;
  color: #000;
  border: 1px solid #000;
  border-radius: 10px;
  margin: 5px 0 20px;
  padding: 3px;
  width: 100%;
  height: 25px;
}

#message {
  color: #000;
  background-color: transparent;
  border: 1px solid #000;
  border-radius: 10px;
  margin: 5px 0 20px;
  width: 100%;
  height: 100px;
}

.submit {
  background-color: #ffffff;
  color: #000;
  text-align: center;
  font-size: 100%;
  padding: 17px 36px 17px 36px;
  border-radius: 3px;
}

#thank-you {
  background-color: #D8E3E7;
  height: 510px;
  clear: both;
  padding-top: 20px;
  min-height: 100vh;
  overflow: hidden;
}

#thank-you p {
  float: left;
  color: inherit;
  font-family: 'Open Sans', sans-serif;
  font-size: 20px;
  width: 40%;
  margin-left: 60px;
  display: block;
  padding: 35px;
  text-align: center;
}

#footer {
  height: 150px;

  background-color: #EDEDED;
  padding-bottom: 0;
}

.social-networks {
  display: flex;
  justify-content: center;
  padding-top: 70px;
}

.social-networks li {
  list-style-type: none;
  padding: 0 40px 0 40px;
}

.blackiconcolor {
  color: #000
}

#error-page {
  height: 100vh;
  background-color: #D8E3E7;
  padding: 25px 25px 25px 0;
  clear: both;
}

#error-page>p {
  text-align: center;
}


@media screen and (max-width:1150px) {
  #about {
    height: fit-content;
  }

  #about img {
    width: 100%;
  }

  .about-image {
    width: 75%;
    float: none;
    margin: 0 auto;
  }

  .about-content {
    width: 75%;
    margin: 0 auto;
    float: none;
    padding-top: 15px;
  }
}

@media screen and (max-width:1100px) {
  #mission {
    height: fit-content;
  }
}

@media screen and (max-width:1000px) {
  #programs {
    height: fit-content;
  }

  .program-one,
  .program-two,
  .program-three {
    height: fit-content;
    padding-bottom: 20px;
  }

  #programs img {
    width: 100%;
  }

  .feature-one,
  .feature-two,
  .feature-three {
    width: 80%;
    margin: 0 auto;
    float: none;
  }

  .feature-one-content,
  .feature-two-content,
  .feature-three-content {
    width: 70%;
    float: none;
    margin: 0 auto;
  }

  .programs-header {
    margin-left: 25px;
  }

  #form-section,
  #thank-you {
    height: fit-content;

  }

  .form-image {
    width: 75%;
    margin: 0 auto;
    float: none;
    padding-top: 15px;
  }

  #form-section img,
  #thank-you img {
    width: 100%;
  }

  #thank-you>p {
    margin-left: 74px;
  }

  .contact-form {
    width: 75%;
    float: none;
    margin: 0 auto;
  }
}


@media screen and (max-width: 960px) {
  #menu {
    clear: left;
    float: left;
    margin-left: 35px;
    line-height: 20px;
    padding-bottom: 15px;
    margin-right: 10px;
  }

  .programs-header {
    text-align: center;
  }
}

@media screen and (max-width: 535px) {
  #logo {
    margin-left: 15px;
  }

  #menu {
    margin-left: 15px;
  }

  #menu li {
    margin-right: 11px;
  }
}

@media screen and (max-width:406px) {
  #logo {
    float: left;
    margin-left: 5px;
  }

  #menu {
    margin-left: 5px;
  }

  #menu li {
    margin-right: 5px;
  }
}

@media screen and (max-width:400px) {
  .our-mission {
    width: 75%;
  }

  #programs h2 {
    padding: 2px;
  }
}

@media screen and (max-width:384px) {
  #logo {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: 180%;
    font-family: 'Lato', sans-serif;
    margin-right: 30px;
    margin-left: 30px;
    font-weight: bold;
  }

  #menu {
    display: flex;
    flex-direction: column-reverse;
    margin-left: 30px;
  }

  #menu li {
    padding: 6px;
    letter-spacing: 2px;
    font-size: medium;
  }
}